.forum-wrap{
    width: 100%;
}

.posts-wrap{
    display: flex;
    height: max-content;
    width: 100%;
    margin: 30px 0;
}

.posts-content{
    overflow: hidden;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.post-content_img{
    width: 100%;
}

.post-content_img img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 400px;
}

.post-content-account{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-content-account img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 20px;
}

.post-content-account h2{
    font-size: calc(1rem + 0.7vw);
    margin-left: 20px;
    color: #1E418D;
}


.post-content-text{
    width: 80%;
    margin: auto;
}
.post-content-text p{
font-size: calc(2rem + 0.3vw);
}

.posts{
    width: 80%;
    border: 0.5px solid #e0e0e0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.post-love{
    display: flex;
    align-items: center;
}

.post-share{
    display: flex;
    align-items: center;
}
.post-content-cmt i{
    font-size: 2rem;
}
.post-content-cmt p{
    margin: 0;
    font-size: 1.3rem;
    margin: 0 10px;
}

.post-content-cmt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.cre{
    width: 80%;
    margin: auto;
    border: 0.5px solid #c3edff;
    background-color: white;
    border-radius: 15px;
}

.cre img{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    border-radius: 50%;
}

.cre div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cre i{
    margin-right: 10px;
    font-size: calc(1rem + 0.5vw);
}

.cre p{
    font-size: calc(1rem + 0.5vw);
    margin: 0;
}

.create-photo{
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin: 0 20px;
    text-decoration: none;
}

.create-photo:hover{
    cursor: pointer;
    background-color: #dedede;
}

.create-ports{
    width: 100%;
    text-decoration: none;
    color: rgba(25, 24, 37, 0.50);
    padding: 8px 20px ;
    background-color: #dedede;
    border-radius: 15px;
    font-size: calc(1rem + 0.5vw);
}

.create-ports:hover{
    cursor: pointer;
    background-color: #efefef;
}

/* tạo bài viết */ 

/* khung hiện lên khi tạo bài viết */
.cre-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.cre-main{
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 20%;
    left: 30%;
    right: 30%;
    background-color: white;
    height: 400px;
    z-index: 9999;
    border-radius: 15px;
    padding: 30px ;
}

.cre-main-button{
    display: flex;
    justify-content: center !important;
    width: 100%;
    margin: 20px 0;
    align-items: center;
}

.cre-main-button a:hover{
    opacity: 0.7;
}

.cre-main-button a{
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    color: white !important;
    padding: 10px 20px;
    background-color: var(--shame-color);
    border-radius: 8px;
    font-weight: 700;
}
.cre-main-text {
    width: 100%;
    display: flex;
    justify-content: center !important;
}
.cre-main-text input{
    border: none;
    width: 90%;
    font-size: 1.5rem;
    outline: none;
    margin: 20px 0;
}

.cre-main-photo{
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.cre-main-photo div{
    width: 90%;
    border: 1px solid #dadada;
    padding: 5px 20px;
    border-radius: 15px;
}

.cre-main-photo h1{
    font-size: 1.7rem;
    color: #6a6a6a;
}
/* --- */